html {box-sizing: border-box;}
body, div, header, footer, section, ul, ol, h1, h2, h3, h4, h5, h6, p, button {margin: 0;padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit;}
input, button, div {outline: none;border: none;}
input{box-sizing: border-box;}
button {cursor: pointer; background: none;}
.btn {display: inline-block; cursor: pointer;}
textarea {resize: none;}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#app {
    width: 600px;
    margin: 30px auto;
    box-sizing: border-box;
    border: 1px solid #ededed;
}

.post-comment {
    text-align: center;
}
.post-comment>input {
    margin: 10px 0;
    border: 1px solid #ededed;
    width: 80%;
    padding: 10px 5px;
}
.post-comment>button {
    background: #0084ff;
    border-radius: 8px;
    color: #fff;
    padding: 8px 25px;
}


.comment-list {}
.comment-list>li {
    padding: 8px 27px;
}
.comment-list>li>a, .comment-list-item>li>a {
    float: left;
    width: 40px;
    height: 40px;
}
.comment-list>li a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-user {
    padding-left: 45px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 4px;
}
.comment-user>p {
    font-size: 14px;
    color: #ccc ;
}
.comment-message {
    margin-bottom: 4px;
    padding: 3px;
}
.comment-list-item>li {
    padding-left: 15px;
}
.icon {
    font-size: 12px;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    background: red;
}