html {box-sizing: border-box;}
body, div, header, footer, ul, ol, h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit;}
input, button, div {outline: none;border: none;}
input{box-sizing: border-box;}
button {cursor: pointer;}
.btn {display: inline-block; padding: 5px 20px;}
body {
    min-width: 1200px;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 12px;
    font-family: 微软雅黑,Helvetica,Arial,PingFang SC,Noto Sans,Roboto,Microsoft Yahei,sans-serif;
    font-weight: inherit;
    box-sizing: border-box;
}
.navbar {
	min-width: 1200px;
	margin: 0 auto;
	height: 52px;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}
.logo {
	float: left;
	height: 52px;
	margin-left: 15px;
}
.logo>img {
	width: 102px;
	height: 52px;
}
.nav {
	float: left;
	height: 52px;
	margin-left: 15px;
}
.nav>li {
	float: left;
	line-height: 52px;
	padding: 0 15px;
}
.nav>li>a {
	font-size: #000;
}
.nav>li:hover {
	background: #f0f0f0;
}
.auth {
	float: right;
	margin-right: 15px;
}
.auth>.btn {
	border-radius: 13px;
	margin-top: 12px;
	border: 1px solid #ea6f5a;
}
.auth>.login-btn {
	border-radius: 13px;
    color: #ea6f5a;
}
.auth>.register-btn {
	background: #ea6f5f;
    color: #fff;
    margin-left: 10px;
}
.select-input {
	float: right;
	line-height: 52px;
}